<div class="contact-us pd-y">
  <div class="container">
    <div class="contact-us-content text-center text-lg-left ">
      <a style="background-color: #25d366 ; padding:10px 15px;border-radius: 8px;margin-bottom: 20px;display: inline-block;"
        href="https://api.whatsapp.com/send?phone=+201003557381&text=&source=&data=&app_absent=">تواصل
        معنا مباشرة عبر الواتساب <i class="fa fa-whatsapp"></i></a>
      <h5>البريد الالكترونى : Contact@Carma-Center.com</h5>
      <h5>موبايل & واتساب : 00201003557381</h5>
      <h5>موبايل & واتساب : 00201555535002</h5>
      <h5>العنوان : المعادى - القاهرة - مصر</h5>
    </div>
  </div>
</div>
