<!-- start-portfolio -->
<section id="portfolio" class="portfolio pd-y ">
  <div class="container">
    <div class="heading text-center  mb-3">
      <h2 class="title mb-3">بعض سابقات الاعمال </h2>
      <span class="span-left"></span><i class="fa fa-stop icon-heading"></i><strong class="subtitle "> إختار تصميمك
      </strong><i class="fa fa-stop icon-heading"></i><span class="span-right"></span>
    </div>
    <div class="portfolio-content">
      <div id="myBtnContainer" class="text-center mb-5">
        <button class="btn active " onclick="filterSelection('all')"> مشاهدة جميع الاعمال</button>
        <button class="btn" onclick="filterSelection('Creative')">تصميم جذاب</button>
        <button class="btn" onclick="filterSelection('Modern')"> عالم التكنولوجيا</button>
        <button class="btn" onclick="filterSelection('markiting')"> التسويق</button>
      </div>

      <!-- Portfolio Gallery Grid -->
      <div class="row items">
        <div class="column Creative col-12 col-md-4 mb-3 show">
          <div class="content h-75">
            <img class="h-100 w-100 mb-3" src="../../../assets/images/advisor-sherif.png" alt="Mountains"
              style="width:100%">
            <div class="overlay2"></div>
            <div class="port-link"><a href="https://advisor-sherif-center.com" target="_blank">مشاهدة التصميم<i
                  class="fa fa-external-link fa-lg"></i></a></div>
          </div>
          <h4>Advisor Sherif Center</h4>
          <p>Designed By CarmaCenter</p>
        </div>
        <div class="column markiting col-12 col-md-4 mb-3 show">
          <div class="content h-75">
            <img class="h-100 w-100 mb-3" src="../../../assets/images/kandiltex.png" alt="Mountains"
              style="width:100%">
            <div class="overlay2"></div>
            <div class="port-link"><a href="https://kandiltex.com" target="_blank">مشاهدة التصميم<i
                  class="fa fa-external-link fa-lg"></i></a></div>
          </div>
          <h4>kandiltex Factory</h4>
          <p>Designed By CarmaCenter</p>
        </div>
        <div class="column markiting col-12 col-md-4 mb-3 show">
          <div class="content h-75">
            <img class="h-100 w-100 mb-3" src="../../../assets/images/portfolio015-a.png" alt="Mountains"
              style="width:100%">
            <div class="overlay2"></div>
            <div class="port-link"><a href="../../../assets/images/portfolio015.png" target="_blank">مشاهدة التصميم<i
                  class="fa fa-external-link fa-lg"></i></a></div>
          </div>
          <h4>Nona Store</h4>
          <p>Designed By CarmaCenter</p>
        </div>
        <div class="column Creative col-12 col-md-4 mb-3 show">
          <div class="content h-75">
            <img class="h-100 w-100 mb-3" src="../../../assets/images/portfolio16-a.png" alt="Mountains"
              style="width:100%">
            <div class="overlay2"></div>
            <div class="port-link"><a href="../../../assets/images/portfolio16.png" target="_blank">مشاهدة التصميم<i
                  class="fa fa-external-link fa-lg"></i></a></div>
          </div>
          <h4>Ediocation</h4>
          <p>Designed By CarmaCenter</p>
        </div>
        <div class="column Creative col-12 col-md-4 mb-3 show">
          <div class="content h-75">
            <img class="h-100 w-100 mb-3" src="../../../assets/images/portfolio17-a.png" alt="Mountains"
              style="width:100%">
            <div class="overlay2"></div>
            <div class="port-link"><a href="../../../assets/images/portfolio17.png" target="_blank">مشاهدة التصميم<i
                  class="fa fa-external-link fa-lg"></i></a></div>
          </div>
          <h4>Fetnees</h4>
          <p>Designed By CarmaCenter</p>
        </div>
        <div class="column markiting col-12 col-md-4 mb-3 show">
          <div class="content h-75">
            <img class="h-100 w-100 mb-3" src="../../../assets/images/portfolio18-a.png" alt="Mountains"
              style="width:100%">
            <div class="overlay2"></div>
            <div class="port-link"><a href="../../../assets/images/portfolio18.png" target="_blank">مشاهدة التصميم<i
                  class="fa fa-external-link fa-lg"></i></a></div>
          </div>
          <h4>Resturant</h4>
          <p>Designed By CarmaCenter</p>
        </div>
        <div class="column Creative col-12 col-md-4 mb-3 show">
          <div class="content h-75">
            <img class="h-100 w-100 mb-3" src="../../../assets/images/portfolio19-a.png" alt="Mountains"
              style="width:100%">
            <div class="overlay2"></div>
            <div class="port-link"><a href="../../../assets/images/portfolio19.png" target="_blank">مشاهدة التصميم<i
                  class="fa fa-external-link fa-lg"></i></a></div>
          </div>
          <h4>Constraction</h4>
          <p>Designed By CarmaCenter</p>
        </div>
        <div class="column markiting col-12 col-md-4 mb-3 show">
          <div class="content h-75">
            <img class="h-100 w-100 mb-3" src="../../../assets/images/portfolio20-a.png" alt="Mountains"
              style="width:100%">
            <div class="overlay2"></div>
            <div class="port-link"><a href="../../../assets/images/portfolio20.png" target="_blank">مشاهدة التصميم<i
                  class="fa fa-external-link fa-lg"></i></a></div>
          </div>
          <h4>Shop-furn</h4>
          <p>Designed By CarmaCenter</p>
        </div>
        <div class="column Modern col-12 col-md-4 mb-3 show">
          <div class="content h-75">
            <img class="h-100 w-100 mb-3" src="../../../assets/images/portfolio21-a.png" alt="Mountains"
              style="width:100%">
            <div class="overlay2"></div>
            <div class="port-link"><a href="../../../assets/images/portfolio21.png" target="_blank">مشاهدة التصميم<i
                  class="fa fa-external-link fa-lg"></i></a></div>
          </div>
          <h4>Portfolio-Developer</h4>
          <p>Designed By CarmaCenter</p>
        </div>
        <div class="column Creative col-12 col-md-4 mb-3 show">
          <div class="content h-75">
            <img class="h-100 w-100 mb-3" src="../../../assets/images/portfolio22-a.png" alt="Mountains"
              style="width:100%">
            <div class="overlay2"></div>
            <div class="port-link"><a href="../../../assets/images/portfolio22.png" target="_blank">مشاهدة التصميم<i
                  class="fa fa-external-link fa-lg"></i></a></div>
          </div>
          <h4>Spa</h4>
          <p>Designed By CarmaCenter</p>
        </div>
        <div class="column markiting col-12 col-md-4 mb-3 show">
          <div class="content h-75">
            <img class="h-100 w-100 mb-3" src="../../../assets/images/portfolio23-a.png" alt="Mountains"
              style="width:100%">
            <div class="overlay2"></div>
            <div class="port-link"><a href="../../../assets/images/portfolio23.png" target="_blank">مشاهدة التصميم<i
                  class="fa fa-external-link fa-lg"></i></a></div>
          </div>
          <h4>Travel</h4>
          <p>Designed By CarmaCenter</p>
        </div>
        <div class="column markiting col-12 col-md-4 mb-3 show">
          <div class="content h-75">
            <img class="h-100 w-100 mb-3" src="../../../assets/images/portfolio24-a.png" alt="Mountains"
              style="width:100%">
            <div class="overlay2"></div>
            <div class="port-link"><a href="../../../assets/images/portfolio24.png" target="_blank">مشاهدة التصميم<i
                  class="fa fa-external-link fa-lg"></i></a></div>
          </div>
          <h4>Restorant-Fresco</h4>
          <p>Designed By CarmaCenter</p>
        </div>
        <div class="column Creative col-12 col-md-4 mb-3 show">
          <div class="content h-75">
            <img class="h-100 w-100 mb-3" src="../../../assets/images/portfolio1.jpg" alt="Mountains"
              style="width:100%">
            <div class="overlay2"></div>
            <div class="port-link"><a href="https://demo8-carmacenter.netlify.app" target="_blank">مشاهدة التصميم<i
                  class="fa fa-external-link fa-lg"></i></a></div>
          </div>
          <h4>Mountains</h4>
          <p>Designed By CarmaCenter</p>
        </div>
        <div class="column Modern col-12 col-md-4 mb-3 show">
          <div class="content h-75">
            <img class="h-100 w-100 mb-3" src="../../../assets/images/portfolio2.jpg" alt="Mountains"
              style="width:100%">
            <div class="overlay2"></div>
            <!-- https://demo9-carmacenter.netlify.app -->
            <div class="port-link"><a href="../../../assets/images/portfolio2.jpg" target="_blank">مشاهدة التصميم<i
                  class="fa fa-external-link fa-lg"></i></a></div>
          </div>
          <h4>Creative Agency</h4>
          <p>Designed By CarmaCenter</p>
        </div>
        <div class="column markiting col-12 col-md-4 mb-3 show">
          <div class="content h-75">
            <img class="h-100 w-100 mb-3" src="../../../assets/images/portfolio15-a.png" alt="Mountains"
              style="width:100%">
            <div class="overlay2"></div>
            <div class="port-link"><a href="../../../assets/images/portfolio15.png" target="_blank">مشاهدة التصميم<i
                  class="fa fa-external-link fa-lg"></i></a>
            </div>
          </div>
          <h4>Company</h4>
          <p>Designed By CarmaCenter</p>
        </div>
        <div class="column markiting col-12 col-md-4 mb-3 show">
          <div class="content h-75">
            <img class="h-100 w-100 mb-3" src="../../../assets/images/portfolio3.jpg" alt="Mountains"
              style="width:100%">
            <div class="overlay2"></div>
            <div class="port-link"><a href="https://carmacenter.ml" target="_blank">مشاهدة التصميم<i
                  class="fa fa-external-link fa-lg"></i></a>
            </div>
          </div>
          <h4>Markiting</h4>
          <p>Designed By CarmaCenter</p>
        </div>
        <div class="column Creative col-12 col-md-4 mb-3 show">
          <div class="content h-75">
            <img class="h-100 w-100 mb-3" src="../../../assets/images/portfolio4.jpg" alt="Mountains"
              style="width:100%">
            <div class="overlay2"></div>
            <div class="port-link"><a href="https://demo10-carmacenter.netlify.app" target="_blank">مشاهدة التصميم<i
                  class="fa fa-external-link fa-lg"></i></a></div>
          </div>
          <h4>Creative Technology</h4>
          <p>Designed By CarmaCenter</p>
        </div>
        <div class="column Modern col-12 col-md-4 mb-3 show">
          <div class="content h-75">
            <img class="h-100 w-100 mb-3" src="../../../assets/images/portfolio5.jpg" alt="Mountains"
              style="width:100%">
            <div class="overlay2"></div>
            <div class="port-link"><a href="https://demo1-carmacenter.netlify.app" target="_blank">مشاهدة التصميم<i
                  class="fa fa-external-link fa-lg"></i></a></div>
          </div>
          <h4>Modern Technology</h4>
          <p>Designed By CarmaCenter</p>
        </div>
        <div class="column markiting col-12 col-md-4 mb-3 show">
          <div class="content h-75">
            <img class="h-100 w-100 mb-3" src="../../../assets/images/portfolio7.jpg" alt="Mountains"
              style="width:100%">
            <div class="overlay2"></div>
            <div class="port-link"><a href="https://demo3-carmacenter.netlify.app" target="_blank">مشاهدة التصميم<i
                  class="fa fa-external-link fa-lg"></i></a></div>
          </div>
          <h4>Rocker</h4>
          <p>Designed By CarmaCenter</p>
        </div>
        <div class="column markiting col-12 col-md-4 mb-3 show">
          <div class="content h-75">
            <img class="h-100 w-100 mb-3" src="../../../assets/images/zarro.jpg" alt="Mountains" style="width:100%">
            <div class="overlay2"></div>
            <div class="port-link"><a href="../../../assets/images/zarro.jpg" target="_blank">مشاهدة التصميم<i
                  class="fa fa-external-link fa-lg"></i></a></div>
          </div>
          <h4>Hodes</h4>
          <p>Designed By CarmaCenter</p>
        </div>
        <div class="column Creative col-12 col-md-4 mb-3 show">
          <div class="content h-75">
            <img class="h-100 w-100 mb-3" src="../../../assets/images/zaki.jpg" alt="Mountains" style="width:100%">
            <div class="overlay2"></div>
            <div class="port-link"><a href="../../../assets/images/zaki.jpg" target="_blank">مشاهدة التصميم<i
                  class="fa fa-external-link fa-lg"></i></a></div>
          </div>
          <h4>zaki</h4>
          <p>Designed By CarmaCenter</p>
        </div>
        <div class="column Modern col-12 col-md-4 mb-3 show">
          <div class="content h-75">
            <img class="h-100 w-100 mb-3" src="../../../assets/images/wrd.jpg" alt="Mountains" style="width:100%">
            <div class="overlay2"></div>
            <div class="port-link"><a href="../../../assets/images/wrd.jpg" target="_blank">مشاهدة التصميم<i
                  class="fa fa-external-link fa-lg"></i></a></div>
          </div>
          <h4>Ward</h4>
          <p>Designed By CarmaCenter</p>
        </div>
        <div class="column Creative col-12 col-md-4 mb-3 show">
          <div class="content h-75">
            <img class="h-100 w-100 mb-3" src="../../../assets/images/startegy.jpg" alt="Mountains" style="width:100%">
            <div class="overlay2"></div>
            <div class="port-link"><a href="../../../assets/images/startegy.jpg" target="_blank">مشاهدة التصميم<i
                  class="fa fa-external-link fa-lg"></i></a></div>
          </div>
          <h4>startegy</h4>
          <p>Designed By CarmaCenter</p>
        </div>
        <div class="column Creative col-12 col-md-4 mb-3 show">
          <div class="content h-75">
            <img class="h-100 w-100 mb-3" src="../../../assets/images/next.jpg" alt="Mountains" style="width:100%">
            <div class="overlay2"></div>
            <div class="port-link"><a href="../../../assets/images/next.jpg" target="_blank">مشاهدة التصميم<i
                  class="fa fa-external-link fa-lg"></i></a></div>
          </div>
          <h4>Next Step</h4>
          <p>Designed By CarmaCenter</p>
        </div>
        <div class="column markiting col-12 col-md-4 mb-3 show">
          <div class="content h-75">
            <img class="h-100 w-100 mb-3" src="../../../assets/images/uiqlwatches.jpg" alt="Mountains"
              style="width:100%">
            <div class="overlay2"></div>
            <div class="port-link"><a href="../../../assets/images/uiqlwatches.jpg" target="_blank">مشاهدة التصميم<i
                  class="fa fa-external-link fa-lg"></i></a></div>
          </div>
          <h4>uiqlwatches</h4>
          <p>Designed By CarmaCenter</p>
        </div>
        <div class="column Creative col-12 col-md-4 mb-3 show">
          <div class="content h-75">
            <img class="h-100 w-100 mb-3" src="../../../assets/images/mycam.jpg" alt="Mountains" style="width:100%">
            <div class="overlay2"></div>
            <div class="port-link"><a href="../../../assets/images/mycam.jpg" target="_blank">مشاهدة التصميم<i
                  class="fa fa-external-link fa-lg"></i></a></div>
          </div>
          <h4>mycam</h4>
          <p>Designed By CarmaCenter</p>
        </div>
        <div class="column Creative col-12 col-md-4 mb-3 show">
          <div class="content h-75">
            <img class="h-100 w-100 mb-3" src="../../../assets/images/mediamax.jpg" alt="Mountains" style="width:100%">
            <div class="overlay2"></div>
            <div class="port-link"><a href="../../../assets/images/mediamax.jpg" target="_blank">مشاهدة التصميم<i
                  class="fa fa-external-link fa-lg"></i></a></div>
          </div>
          <h4>mediamax</h4>
          <p>Designed By CarmaCenter</p>
        </div>
        <div class="column markiting col-12 col-md-4 mb-3 show">
          <div class="content h-75">
            <img class="h-100 w-100 mb-3" src="../../../assets/images/habiba.ae_-1.jpg" alt="Mountains"
              style="width:100%">
            <div class="overlay2"></div>
            <div class="port-link"><a href="../../../assets/images/habiba.ae_-1.jpg" target="_blank">مشاهدة التصميم<i
                  class="fa fa-external-link fa-lg"></i></a></div>
          </div>
          <h4>habiba</h4>
          <p>Designed By CarmaCenter</p>
        </div>
        <div class="column markiting col-12 col-md-4 mb-3 show">
          <div class="content h-75">
            <img class="h-100 w-100 mb-3" src="../../../assets/images/gulfar.jpg" alt="Mountains" style="width:100%">
            <div class="overlay2"></div>
            <div class="port-link"><a href="../../../assets/images/gulfar.jpg" target="_blank">مشاهدة التصميم<i
                  class="fa fa-external-link fa-lg"></i></a></div>
          </div>
          <h4>Gulfar</h4>
          <p>Designed By CarmaCenter</p>
        </div>
        <!-- END GRID -->
      </div>
      <div id="show-hide-portfolio" class="show-hide-portfolio">
        <div class=" row">
          <div class="column markiting col-12 col-md-4 mb-3 show">
            <div class="content h-75">
              <img class="h-100 w-100 mb-3" src="../../../assets/images/portfolio6.jpg" alt="Mountains"
                style="width:100%">
              <div class="overlay2"></div>
              <div class="port-link"><a href="https://demo2-carmacenter.netlify.app" target="_blank">مشاهدة التصميم<i
                    class="fa fa-external-link fa-lg"></i></a></div>
            </div>
            <h4>Markiting</h4>
            <p>Designed By CarmaCenter</p>
          </div>
          <div class="column Modern col-12 col-md-4 mb-3 show">
            <div class="content h-75">
              <img class="h-100 w-100 mb-3" src="../../../assets/images/portfolio8.jpg" alt="Mountains"
                style="width:100%">
              <div class="overlay2"></div>
              <div class="port-link"><a href="https://demo4-carmacenter.netlify.app" target="_blank">مشاهدة التصميم<i
                    class="fa fa-external-link fa-lg"></i></a></div>
            </div>
            <h4>Classic</h4>
            <p>Designed By CarmaCenter</p>
          </div>
          <div class="column markiting col-12 col-md-4 mb-3  show">
            <div class="content h-75">
              <img class="h-100 w-100 mb-3" src="../../../assets/images/portfolio9.jpg" alt="Mountains"
                style="width:100%">
              <div class="overlay2"></div>
              <div class="port-link"><a href="https://demo5-carmacenter.netlify.app" target="_blank">مشاهدة التصميم<i
                    class="fa fa-external-link fa-lg"></i></a></div>
            </div>
            <h4>Flower</h4>
            <p>Designed By CarmaCenter</p>
          </div>
          <div class="column Modern col-12 col-md-4 mb-3 show">
            <div class="content h-75">
              <img class="h-100 w-100 mb-3" src="../../../assets/images/portfolio14.jpg" alt="Mountains"
                style="width:100%">
              <div class="overlay2"></div>
              <div class="port-link"><a href="https://demo12-carmacenter.netlify.app" target="_blank">مشاهدة التصميم<i
                    class="fa fa-external-link fa-lg"></i></a></div>
            </div>
            <h4>Red</h4>
            <p>Designed By CarmaCenter</p>
          </div>
          <div class="column Creative col-12 col-md-4 mb-3 show">
            <div class="content h-75">
              <img class="h-100 w-100 mb-3" src="../../../assets/images/portfolio10.jpg" alt="Mountains"
                style="width:100%">
              <div class="overlay2"></div>
              <div class="port-link"><a href="https://demo6-carmacenter.netlify.app" target="_blank">مشاهدة التصميم<i
                    class="fa fa-external-link fa-lg"></i></a></div>
            </div>
            <h4>Blog</h4>
            <p>Designed By CarmaCenter</p>
          </div>
          <div class="column Creative col-12 col-md-4 mb-3 show">
            <div class="content h-75">
              <img class="h-100 w-100 mb-3" src="../../../assets/images/portfolio13.jpg" alt="Mountains"
                style="width:100%">
              <div class="overlay2"></div>
              <div class="port-link"><a href="https://demo7-carmacenter.netlify.app" target="_blank">مشاهدة التصميم<i
                    class="fa fa-external-link fa-lg"></i></a></div>
            </div>
            <h4>Love Pinky</h4>
            <p>Designed By CarmaCenter</p>
          </div>

        </div>
      </div>
    </div>
    <button id="show-hide-id" class="show-hide m-auto d-block">شاهد مشروعات اخري</button>

  </div>
</section>
<!-- end-portfolio -->