.about{
  background-image: url("../../../assets/images/World_map_black.PNG");
  background-size: cover;
  background-attachment: fixed;
}
.title-social {
  align-items: center;
  h3{
    margin: 10px;
  }
}
li{
  list-style: none;
  font-size: 18px;

}
i{
  color: #ffc107;
}
