<div class="about">
  <div class="container">
    <div class="about-content row pd-y text-right">
      <div class="about-desc col-12 col-lg">
        <h2>عن كارماسنتر</h2>
        <p>
          نؤمن دائماً أن الإستمرار في القمة للكيانات التجارية يتطلب الكثير من التطوير في الفكر , في المنهجية , في النظم
          العامة , في الخدمات المقدمة , لذلك نحن فى2017 نقدم شركة كارما سنتر بفكر ومنهجية ومجموعة من النظم الإدارية
          والخدمات الجديدة والمتطورة التي نسعى جاهدين لكتابة الثقافة الإلكترونية الجديدة والوصول بها لقمة مقدمي الخدمات
          إقليمياً وعالمياً , لتستمر تقنية كـ أفضل مقدم خدمات استضافة و سيرفرات و VPS للمواقع و التطبيقات و الانظمة
          البرمجية  ولنبدأ مرحلة جديدة من تصميم و برمجة و تطوير و حلول المواقع و المتاجر الالكترونية , و
          تصميم و برمجة و تطوير تطبيقات الجوال , و برمجة و تطوير انظمة الشركات و الخدمات التجارية , و خدمات التسويق
          الالكتروني , لنعمل على اثراء السوق الالكتروني العربي وتوفير هذه الخدمات بأعلى مستويات الجودة والتي اعتاد
          عملائنا عليها .
        </p>
      </div>
      <div class="about-logo col-12 col-lg">
        <img class="w-100 h-100" src="../../../assets/images/LOGO.png" alt="">
      </div>
    </div>
  </div>
</div>
<div class="social-marketing  pd-y">
  <div class="container row">
    <div class="social-desc col-12 col-md">
      <div class="title-social row">
        <i aria-hidden="true" class="fa fa-quote-right fa-3x"></i>
        <h3>تصميم مواقع و تسويق إلكتروني</h3>
      </div>
      <p>فقط مع كارماسنتر هتقدر تعمل أكبر الحملات الدعائية و التسويقية لمنتجك أو شركتك علي جميع منصات التواصل
        الأجتماعي
        (فيس بوك - انستجرام - تويتر - يوتيوب - تيك توك ) و تستهدف عملائك المميزين ده غير اننا هندير صفحتك ع الفيس بوك
        بكل احترافية لضمان المتابعة و التميز لك:</p>
      <ul class="text-right">
        <li><i aria-hidden="true" class="fa fa-check"></i>تصميم مواقع شخصية</li>
        <li><i aria-hidden="true" class="fa fa-check"></i>تصميم مواقع شركات ومؤسسات</li>
        <li><i aria-hidden="true" class="fa fa-check"></i>تصميم موقع و متجر الكترونى</li>
        <li><i aria-hidden="true" class="fa fa-check"></i>إعلانات ممولة فيسبوك</li>
        <li><i aria-hidden="true" class="fa fa-check"></i>إعلانات ممولة انستجرام</li>
        <li><i aria-hidden="true" class="fa fa-check"></i>إعلانات ممولة يوتيوب</li>
        <li><i aria-hidden="true" class="fa fa-check"></i>إعلانات ممولة جوجل</li>
      </ul>
    </div>
    <div class="social-img col-12 col-md">
      <img class="w-100 h-100" src="../../../assets/images/about2 (2).png" alt="">
    </div>
  </div>
  <div class="container row pd-y">
    <div class="social-desc col-12 col-md">
      <div class="title-social row">
        <i aria-hidden="true" class="fa fa-globe fa-3x"></i>
        <h3>مهمتنا</h3>
      </div>
      <p>نؤمن بأن تحقيق النجاح يعني التفاني في العمل من دون كلل أو توقف , وأن الإستمرار في النجاح يعني المثابرة بشكل
        أكبر في التفاني . لأننا نهدف لرضا عملائنا وتحقيق أحلامهم وأمنياتهم والوصول للقمة دائماً , فقد بدأنا بعشاق الجنان
        في عام 2017 ومستمرون في التشرف بخدمتكم بلا توقف , والسعي بكل القدرات المتاحة للوصول إلى القمة في مجالات التخصص
        من أجل إرضاء العملاء </p>
    </div>
    <div class="social-img col-12 col-md">

    </div>
  </div>
  <div class="container row pd-y">
    <div class="social-desc col-12 col-md">
      <div class="title-social row">
        <i aria-hidden="true" class="fa fa-handshake-o fa-3x"></i>
        <h3>قيمنا</h3>
      </div>
      <p>نؤمن بأن تحقيق النجاح يعني التفاني في العمل من دون كلل أو توقف , وأن الإستمرار في النجاح يعني المثابرة بشكل
        أكبر في التفاني .
      </p>
    </div>
    <div class="social-img col-12 col-md">
    </div>
  </div>
</div>
