<div class="footer pd-y">
  <div class="container">
    <div class="footer-content row">
      <div class="footer-data col-12 col-md  text-right">
        <h2><img class="w-100 h-100" src="../../../assets/images/LOGO.png" alt=""></h2>
        <p>نؤمن دائماً أن الإستمرار في القمة للكيانات التجارية يتطلب الكثير من التطوير في الفكر , في المنهجية , في النظم
          العامة , في الخدمات المقدمة , لذلك نحن فى2017 نقدم شركة كارما سنتر بفكر ومنهجية ومجموعة من النظم الإدارية
          والخدمات الجديدة والمتطورة التي نسعى جاهدين لكتابة الثقافة الإلكترونية الجديدة والوصول بها لقمة مقدمي الخدمات
          إقليمياً وعالمياً
        </p>
      </div>
      <div class="footer-data col-12 col-md text-center text-lg-left">
        <h5>خدمات السوشيال ميديا</h5>
        <ul>
          <li><a routerLink="portfolio">فيسبوك</a></li>
          <li><a routerLink="portfolio">يوتيوب</a></li>
          <li><a routerLink="portfolio">انستجرام</a></li>
          <li><a routerLink="portfolio">جوجل</a></li>
        </ul>
        <a style="background-color: #25d366 ; color: #fff; padding:10px 15px;border-radius: 8px;display: inline-block;margin-bottom: 15px;"
          href="https://api.whatsapp.com/send?phone=+201003557381&text=&source=&data=&app_absent=">تواصل
          معنامباشرةعبرالواتساب <i class="fa fa-whatsapp"></i></a>
      </div>
      <div class="footer-data col-12 col-md text-center text-lg-left">
        <h5>خدمات تصميم مواقع</h5>
        <ul>
          <li><a routerLink="portfolio">مواقع شخصية</a></li>
          <li><a routerLink="portfolio">مواقع شركات</a></li>
          <li><a routerLink="portfolio">موقع مستشفي</a></li>
          <li><a routerLink="portfolio">منصة تعليمية </a></li>
          <li><a routerLink="portfolio">متجر الكترونى </a></li>
        </ul>
      </div>
    </div>
    <hr>
    <div class="copyright text-center">
      <a href="">جميع الحقوق محفوظة - تصميم ❤ كارما سنتر 2020 &copy;</a>
    </div>
  </div>
</div>
