<nav class="navbar navbar-expand-lg navbar-light ">
  <div class="container row">
    <div class="nav col-4 col-lg-10">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav text-center">
          <li class="nav-item active">
            <a class="nav-link" routerLink="">الرئيسية <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="about">من نحن</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="portfolio">سابقات أعمالنا</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              جميع الخدمات
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" routerLink="portfolio">تصميم مواقع</a>
              <a class="dropdown-item" routerLink="portfolio">مواقع التواصل الاجتماعى</a>
              <a class="dropdown-item" routerLink="portfolio">اعلانات ممولة</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="contact-us">اتصل بنا </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="logo col-8 col-lg-2">
      <a class="navbar-brand" href="#"><img  src="../../../assets/images/LOGO.png" alt=""></a>
    </div>
  </div>
</nav>
