<div class="contact-top">
  <div class="container row">
    <div class="contact-top-social col-12 col-md-6 text-right">
      <div class="iconcontent text-center text-lg-right">
        <a href="https://www.facebook.com/CarmaCenter" target="_blank" class="iconface fa fa-facebook fa-2x"></a>
        <a href="https://twitter.com/hamadacarma" target="_blank" class="icontwitt fa fa-twitter fa-2x"></a>
        <a href="https://www.linkedin.com/company/carmacenter" target="_blank"
          class="iconlinked fa fa-linkedin fa-2x"></a>
        <a href="https://www.youtube.com/channel/UCgzVNdioIZOK3Yf5wFm-rvw?view_as=subscriber" target="_blank"
          class="iconyout fa fa-youtube fa-2x"></a>
        <a href="https://github.com/carmacenter" target="_blank" class="icongit fa fa-github fa-2x"></a>
      </div>
    </div>
    <div class="contact-top-Phone col-12 col-md-6 text-center text-lg-left">
      <i class="fa fa-phone fa-2x"></i><span> 0100-3557-381 (2+)</span>
    </div>
  </div>
</div>
