<div class="heading text-center  mb-3">
  <h2 class="title mb-3">بعض سابقات الاعمال </h2>
  <span class="span-left"></span><i class="fa fa-stop icon-heading"></i><strong class="subtitle "> إختار تصميمك </strong><i class="fa fa-stop icon-heading"></i><span class="span-right"></span>
</div>
<swiper [config]="config" class="text-center pd-y">
  <div class="swiper-wrapper ">
    <div class="swiper-slide ">
      <img class="w-100 h-100" src="../../../assets/images/portfolio1.jpg" alt="">
      <div class="overlay"><a href="../../../assets/images/portfolio1.jpg" target="_blank"
          class="btn btn-warning">مشاهدة التصميم</a></div>
    </div>
    <div class="swiper-slide ">
      <img class="w-100 h-100" src="../../../assets/images/gulfar.jpg" alt="">
      <div class="overlay"><a href="../../../assets/images/gulfar.jpg" target="_blank" class="btn btn-warning">مشاهدة
          التصميم</a></div>
    </div>
    <div class="swiper-slide ">
      <img class="w-100 h-100" src="../../../assets/images/portfolio3.jpg" alt="">
      <div class="overlay"><a href="../../../assets/images/portfolio3.jpg" target="_blank"
          class="btn btn-warning">مشاهدة التصميم</a></div>
    </div>
    <div class="swiper-slide ">
      <img class="w-100 h-100" src="../../../assets/images/divi-popular-multipurpose-theme.png" alt="">
      <div class="overlay"><a href="../../../assets/images/divi-popular-multipurpose-theme.png" target="_blank"
          class="btn btn-warning">مشاهدة التصميم</a></div>
    </div>
    <div class="swiper-slide ">
      <img class="w-100 h-100" src="../../../assets/images/folie-minimal-portfolio-website-template.jpg" alt="">
      <div class="overlay"><a href="../../../assets/images/folie-minimal-portfolio-website-template.jpg" target="_blank"
          class="btn btn-warning">مشاهدة التصميم</a></div>
    </div>
    <div class="swiper-slide ">
      <img class="w-100 h-100" src="../../../assets/images/habiba.ae_-1.jpg" alt="">
      <div class="overlay"><a href="../../../assets/images/habiba.ae_-1.jpg" target="_blank"
          class="btn btn-warning">مشاهدة التصميم</a></div>
    </div>
    <div class="swiper-slide ">
      <img class="w-100 h-100" src="../../../assets/images/mediamax.jpg" alt="">
      <div class="overlay"><a href="../../../assets/images/mediamax.jpg" target="_blank" class="btn btn-warning">مشاهدة
          التصميم</a></div>
    </div>
    <div class="swiper-slide ">
      <img class="w-100 h-100" src="../../../assets/images/mycam.jpg" alt="">
      <div class="overlay"><a href="../../../assets/images/mycam.jpg" target="_blank" class="btn btn-warning">مشاهدة
          التصميم</a></div>
    </div>
    <div class="swiper-slide ">
      <img class="w-100 h-100" src="../../../assets/images/next.jpg" alt="">
      <div class="overlay"><a href="../../../assets/images/next.jpg" target="_blank" class="btn btn-warning">مشاهدة
          التصميم</a></div>
    </div>
    <div class="swiper-slide ">
      <img class="w-100 h-100" src="../../../assets/images/startegy.jpg" alt="">
      <div class="overlay"><a href="../../../assets/images/startegy.jpg" target="_blank" class="btn btn-warning">مشاهدة
          التصميم</a></div>
    </div>

  </div>

  <!-- Add Arrows -->
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
</swiper>
<!-- Add Pagination -->
<div class="swiper-pagination text-center"></div>
<div class="btn-go-portfolio text-center pd-y">
  <a routerLink="portfolio" class="btn btn-warning "> مشاهدة جميع التصاميم</a>
</div>
