<div class="heading text-center  mb-3">
  <h2 class="title mb-3">بعض سابقات الاعمال </h2>
  <span class="span-left"></span><i class="fa fa-stop icon-heading"></i><strong class="subtitle "> إختار تصميمك
  </strong><i class="fa fa-stop icon-heading"></i><span class="span-right"></span>
</div>
<swiper [config]="config" class="text-center pd-y">
  <div class="swiper-wrapper ">
    <div class="swiper-slide ">
      <img class="w-100 h-100" src="../../../assets/images/kandiltex.png" alt="">
      <div class="overlay"><a href="https://kandiltex.com" target="_blank"
          class="btn btn-warning">مشاهدة التصميم</a></div>
    </div>
    <div class="swiper-slide ">
      <img class="w-100 h-100" src="../../../assets/images/advisor-sherif.png" alt="">
      <div class="overlay"><a href="https://advisor-sherif-center.com" target="_blank"
          class="btn btn-warning">مشاهدة
          التصميم</a></div>
    </div>
    <div class="swiper-slide ">
      <img class="w-100 h-100" src="../../../assets/images/portfolio015-a.png" alt="">
      <div class="overlay"><a href="../../../assets/images/portfolio015.png" target="_blank"
          class="btn btn-warning">مشاهدة التصميم</a></div>
    </div>
    <div class="swiper-slide ">
      <img class="w-100 h-100" src="../../../assets/images/portfolio16-a.png" alt="">
      <div class="overlay"><a href="../../../assets/images/portfolio16.png" target="_blank"
          class="btn btn-warning">مشاهدة التصميم</a></div>
    </div>
    <div class="swiper-slide ">
      <img class="w-100 h-100" src="../../../assets/images/portfolio17-a.png" alt="">
      <div class="overlay"><a href="../../../assets/images/portfolio17.png" target="_blank"
          class="btn btn-warning">مشاهدة التصميم</a></div>
    </div>
    <div class="swiper-slide ">
      <img class="w-100 h-100" src="../../../assets/images/portfolio18-a.png" alt="">
      <div class="overlay"><a href="../../../assets/images/portfolio18.png" target="_blank"
          class="btn btn-warning">مشاهدة التصميم</a></div>
    </div>
    <div class="swiper-slide ">
      <img class="w-100 h-100" src="../../../assets/images/portfolio19-a.png" alt="">
      <div class="overlay"><a href="../../../assets/images/portfolio19.png" target="_blank"
          class="btn btn-warning">مشاهدة التصميم</a></div>
    </div>
    <div class="swiper-slide ">
      <img class="w-100 h-100" src="../../../assets/images/portfolio20-a.png" alt="">
      <div class="overlay"><a href="../../../assets/images/portfolio20.png" target="_blank"
          class="btn btn-warning">مشاهدة
          التصميم</a></div>
    </div>
    <div class="swiper-slide ">
      <img class="w-100 h-100" src="../../../assets/images/portfolio21-a.png" alt="">
      <div class="overlay"><a href="../../../assets/images/portfolio21.png" target="_blank"
          class="btn btn-warning">مشاهدة
          التصميم</a></div>
    </div>
    <div class="swiper-slide ">
      <img class="w-100 h-100" src="../../../assets/images/portfolio22-a.png" alt="">
      <div class="overlay"><a href="../../../assets/images/portfolio22.png" target="_blank"
          class="btn btn-warning">مشاهدة
          التصميم</a></div>
    </div>
    <div class="swiper-slide ">
      <img class="w-100 h-100" src="../../../assets/images/portfolio23-a.png" alt="">
      <div class="overlay"><a href="../../../assets/images/portfolio23.png" target="_blank"
          class="btn btn-warning">مشاهدة
          التصميم</a></div>
    </div>

  </div>

  <!-- Add Arrows -->
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
</swiper>
<!-- Add Pagination -->
<div class="swiper-pagination text-center"></div>
<div class="btn-go-portfolio text-center pd-y">
  <a routerLink="portfolio" class="btn btn-warning "> مشاهدة جميع التصاميم</a>
</div>