<div class="home-content">
  <div class="slider">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="../../../assets/images/slider1.jpg" class="d-block w-100 h-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="../../../assets/images/slider2.jpg" class="d-block w-100 h-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="../../../assets/images/slider3.jpg" class="d-block w-100 h-100" alt="...">
        </div>
      </div>
      <div class="overlay"></div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
      <div class="title">
        <img class="w-100 h-100" src="../../../assets/images/LOGO.png" alt="">
      </div>
    </div>
  </div>

  <div class="about1">
    <div class="container">
      <div class="home-about row pd-y">
        <div class="about-content col-12 col-md pd-y">
          <h1>#كارما_سنتر</h1>
          <p>من افضل شركات البرمجة والحلول التسويقية في مصر والوطن العربي</p>
          <app-btn></app-btn>
        </div>
        <div class="about-img col-12 col-md">
          <img src="../../../assets/images/about.png" class="w-100 h-100" alt="">
        </div>
      </div>
    </div>

  </div>
  <div class="container">
    <div class="home-about2 row pd-y">
      <div class="about2-img col-12 col-md mb-3">
        <img src="../../../assets/images/about2.png" class="w-100 h-100" alt="">
      </div>
      <div class="about2-content col-12 col-md text-right ">
        <h2>كارما سنتر</h2>
        <p>نؤمن دائماً أن الإستمرار في القمة للكيانات التجارية يتطلب الكثير من التطوير , لذلك نحن في 2017 نقدم
          #كارما_سنتر بفكر تطويري تقني متقدم ونسعى جاهدين لكتابة الثقافة الإلكترونية الجديدة والوصول بها لقمة مقدمي
          الخدمات إقليمياً وعالمياً امتلك موقعك الإلكتروني و تصميم الموبايل ابليكشن بشكل مبتكر و جذاب يعكس مدى احترافية
          شركتك و منتجك و يجعلك في الصفحة الأولي من محركات البحث. تصميمات جذابة و عالية الجودة مع الأستضافة و حجز
          الدومين و الدعم الفني و التحكم الكامل وربط الموقع بشبكات التواصل الاجتماعي</p>
        <app-btn></app-btn>
      </div>
    </div>
  </div>
  <div class="web-designer pd-y mb-3">
    <div class="container row">
      <div class="webdesigner-img col-12 col-md">
        <img class="w-100 h-100" src="../../../assets/images/Home-7-Web-Marketing-Image.png" alt="">
      </div>
      <div id="webdesigner-content" class="webdesigner-content col-12 col-md text-right">
        <h6>تصميم المواقع</h6>
        <h2>تصميم مواقع متميزة هو شعار شركة كارما سنتر</h2>
        <p>يقوم فريق عمل شركة كارماسنتر ل تصميم مواقع الانترنت ، بتقديم خدمات مميزة لعملائها في مجال تصميم المواقع
          والاستضافة والتطوير التقني للبرمجيات والتطبيقات ،بأفكار عصرية مبتكرة تتناسب وتتحديثات العصر في تصميم وبرمجة
          المواقع الالكترونية ، برؤية جديدة وجودة متميزة وافكار مبتكرة ، وتصميم مواقع جديدة ومتنوعة بإستخدام احدث
          التقنيات في تصميم وبرمجة المواقع ، لنفوق توقعات عملائنا في التخطيط والتنفيذ كما تعد من أفضل شركات تصميم المواقع
          المصرية لان عملاءنا من رواد الاعمال في مصر و الوطن العربي و هم أكثر عملاءنا وايضا من افضل شركات تصميم المواقع في
          القاهرة
        </p>
      </div>
    </div>
  </div>
  <div class="portfolio-home pd-y">
    <app-slider></app-slider>
  </div>

  <div class="feture-home pd-y">
    <div class="container">
      <h2 class="text-center">لماذا تختار #كارما سنتر</h2>
      <p class="text-center"> كارماسنتر من افضل الشركات فى البرمجة والدعايه والاعلان والتسويق الالكترونى في الوطن العربي
      </p>
      <div class="feture-content text-center row">
        <div class="feture col-12 col-md-6 col-xl-3">
          <div class="img-feture"><img class="w-50" src="../../../assets/images/5.png" alt=""></div>
          <h3>تصاميم ابداعية</h3>
          <p>
            نقدم تصميمات مبتكرة وموثوقة لنمنحك اتصالاً أفضل مع عملائك.</p>
        </div>
        <div class="feture col-12 col-md-6 col-xl-3">
          <div class="img-feture"><img class="w-50" src="../../../assets/images/1.png" alt=""></div>
          <h3>دعم وردود سريعة</h3>
          <p>التعليقات هدية ، والأفكار هي عملة نجاحنا القادم. نحن نقدر كل من ردود الفعل والأفكار.</p>
        </div>
        <div class="feture col-12 col-md-6 col-xl-3">
          <div class="img-feture"><img class="w-50" src="../../../assets/images/2.png" alt=""></div>
          <h3>دعم فني</h3>
          <p>
            العملاء جزء من الحل وليسوا جزءًا من المشكلة ، لذلك سنكون معك على مدار الساعة طوال أيام الأسبوع لدعمك.</p>
        </div>
        <div class="feture col-12 col-md-6 col-xl-3">
          <div class="img-feture"><img class="w-50" src="../../../assets/images/3.png" alt=""></div>
          <h3>اسعار مميزة</h3>
          <p>
            نحن نقدم أسعارًا مثالية تمنحك الكثير من المنتجات الفريدة.</p>
        </div>
        <div class="feture col-12 col-md-6 col-xl-3">
          <div class="img-feture"><img class="w-50" src="../../../assets/images/4.png" alt=""></div>
          <h3>سرعة التنفيذ</h3>
          <p>
            لنكن صادقين ، لا أحد يحب موقع الويب البطيء! لذلك تم تصميم مواقعنا الإلكترونية لتعمل بأقصى سرعة.</p>
        </div>
        <div class="feture col-12 col-md-6 col-xl-3">
          <div class="img-feture"><img class="w-50" src="../../../assets/images/6.jpg" alt=""></div>
          <h3>تطبيقات مخصصة</h3>
          <p>
            سيعمل فريق المطورين الخبراء لدينا معك عن كثب لضمان أن المشروع النهائي هو بالضبط ما يدور في ذهنك.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="home-about3 ">
    <div class="container row pd-y">
      <div class="about3-content col-12 col-md text-right">
        <h2>خدمة التسويق الإلكتروني لزيادة المتابعين لصفحات سوشيال ميديا</h2>
        <p>التسويق الإلكتروني عبر الفيسبوك ووسائط التواصل الاجتماعية الأخرى من الطرق القوية والفعالة جداً لأي شركة أو
          وكالة أو مقدمي خدمات من أي نوع بمختلف أحجامها وتوجهاتها وينعكس مباشرة في توسيع دائرة الوصول للعملاء
          والمشتريين. ويقوم معظم العملاء يتصفح الخدمات التي يرغبون بالحصول عليها عبر منصة فيسبوك الامر الذي يجعلها
          المنصة المباشرة لجميع العلامات التجارية لتقديم خدماتها فيها والاهتمام بإدارتها بصورة سليمة.</p>
        <app-btn></app-btn>
      </div>
      <div class="about3-img col-12 col-md">
        <img src="../../../assets/images/about3.png" class="w-100 h-100" alt="">
      </div>
    </div>
  </div>
</div>
